
.products_list_header h2{
   font-size: 26px;
    
}
.products_sorting{
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    padding: 0 5px;
    height: 35px;
    border:none;
    outline: none;
    border-radius: 5px;
}
.products_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.form_error {
  color: red;
  font-weight: 500;
  margin: 10px 0;
  display: block;
}

.products_list_section {
  padding: 20px;
}

.products_list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.products_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 products per row */
  gap: 20px;
}
