
.product_sidebar h2{
    font-size:26px;
    margin-bottom: 10px;

}

.product_sidebar {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  height: 100%;
  min-height: 100vh; /* stays full height of the viewport */
  position: sticky;
  top: 0; /* optional: makes it stay fixed when scrolling */
}

.category_links {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
